@model IEnumerable<Lab4.Models.Community>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h1>Welcome</h1>
<link href="~/StyleSheet.css" rel="stylesheet" />
<p>
    This is the index linked from Home Controller for assign 2
</p>
<p>
    dear god help
</p>